@import 'vars.module.scss';

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  padding: 3em 0;
  z-index: 100;

  .logo{
    svg{
      font-size: 2em;
    }    
  }

  ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1em;
    
    li{
      color: #fff;
      display: inline-block;
    }
  }

  .social{
    display: flex;
    gap: 1em;
    justify-content: space-between;

    svg{
      color: #fff;
      font-size: 1.2em;
    }
  }
  
  .switcher {
    color: #FFFFFFAA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;

    label {
      position: relative;
      display: inline-flex;
      width: 60px;
      height: 10px;
      padding: 3px;

      b {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #12b852;
        -webkit-transition: .5s;
        transition: .5s;
        border-radius: 50px;
        
        &:before {
          position: absolute;
          content: "";
          height: 19px;
          width: 19px;
          top: 0;
          left: 0;
          margin: -5px 0 0 0;
          background-color: #FFF;
          -webkit-transition: .5s;
          transition: .5s;
          border-radius: 50%;
        }
      }
      
      input {
        opacity: 0;
        width: 0;
        height: 0;
        
        &:checked  { 
          & + b {
            background-color: $primaryColor;

            &:before {
              -webkit-transform: translateX(41px);
              -ms-transform: translateX(41px);
              transform: translateX(41px);
            }
          }
        }
      }
    }
  }
}

