.mainContainer {
  width: 100%;
  height: 100vh;
  padding: 0 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #1d1d1d;
}

.mainText{
  display: flex;
  flex-direction: column;
}

.level{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;

  .bullet{
    width: 30px;
    height: 30px;
    background: #ff0000;
  }
}